.feature--content-wrapper {
  padding-block: 2rem;
  width: 100%;
}

.feature--dates {
  font-weight: 800;
}

.feature--text {
  margin-top: 0.5rem;
}

@media screen and (max-width: 649px) {
  .feature--content-wrapper {
    padding-top: 0;
  }
}
