.feature--card {
  max-width: 800px;
  margin-inline: auto;

  display: flex;
  gap: 2rem;
  padding-block: 3rem;
}

.feature--card:not(:last-child) {
  border-bottom: 1px solid #e0e0e0;
}

@media screen and (max-width: 649px) {
  .feature--card {
    flex-direction: column;
    padding-bottom: 0;
  }
}
