.feature--detail-content {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;

  font-size: 0.9rem;
}

.feature--country {
  text-transform: uppercase;
  font-weight: 400;
}

.feature--map {
  margin-left: 1rem;
}

.feature--icon--image {
  max-width: 15px;
}
